/* Fonts */

body {
    display: block;
}

/* Styling each section */

div {
    width: 100%;
}

.raine {
    background-color: "#a7ed3";
}

.spring {
    background-color: "#c6e2e9";
}

.summer {
    background-color: "#f1ffc4";
}

.autumn {
    background-color: "#ffcaaf";
}

.winter {
    background-color: "#dab894";
}
